{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block title %}{{ profile.username }}{% endblock %}

{% block content %}
        <h1>{{ profile.username }}'s profile page</h1>
        <img src="{{ profile.userprofile.profile_picture.url }}" width = "150" height = "150"  />
        <h2>{{ profile.first_name }}</h2>
        <h2>{{ profile.last_name }}</h2>
        <h2>{{ profile.email }}</h2>
        {% if user.username == profile.username %}
            <div class="border-top pt-3">
              <small class="text-muted">
                Want to change it? <a class="ml-2" href="{% url 'edit_profile' user.username %}">Edit</a>
              </small>
            </div>
        {% endif %}


{% endblock %}